/* 關閉scrollbar */
html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
    background-color: #1a1919;
}
body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none;
    height:100%;    
    width:100%;
	/*width: calc(100vw + 18px);*/
    overflow-x: hidden;
    overflow-y: hidden;
}